@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

body {
  background-color: #fff;
}

.title {
  color: #363738;
  font-size: 52px;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  line-height: 125%;
}

.subtitle {
  color: #6B6B6C;
  font-size: 16px;
  font-family: PT Sans;
  line-height: 150%;
}

.block {
  margin: 0 auto;
  max-width: 1240px;
}

.line {
  width: 100%;
  height: 3px;
  background: #FFCE50;
}

.container {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.container .header {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .header .header__blockfon {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0B7572;
  width: 592px;
  height: 787px;
}
.container .header .header__text .header__title {
  margin-top: 81px;
  max-width: 610px;
}
.container .header .header__text .header__subtitle {
  margin-top: 40px;
  max-width: 525px;
}
.container .header .header__text .header__link {
  margin-top: 40px;
  background-color: white;
  border-bottom: 3px solid #FFCE50;
  font-size: 16px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 150%;
}
.container .row {
  margin-top: 67px;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.container .row .row__column .row__title {
  margin-top: 24px;
  font-size: 20px;
  max-width: 228px;
}
.container .row .row__column .row__subtitle {
  margin-top: 16px;
  max-width: 225px;
}
.container .row .row__column:nth-child(2) {
  padding: 0px 124px 0px 64px;
  border-left: 1px solid #D7D7DD;
  border-right: 1px solid #D7D7DD;
}
.container .scope {
  margin-top: 100px;
}
.container .scope .scope__title {
  font-size: 48px;
}
.container .scope .scope__subtitle {
  margin-top: 32px;
  max-width: 667px;
}
.container .scope .scope__quiz {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .scope .scope__quiz .scope__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .scope .scope__quiz .scope__cards .item:hover {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(11, 117, 114, 0.4);
          box-shadow: 0px 3px 15px 0px rgba(11, 117, 114, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.container .scope .scope__quiz .scope__cards .item {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 40px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.12);
}
.container .scope .scope__quiz .scope__cards .item .item__radiobutton {
  margin-top: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.container .scope .scope__quiz .scope__cards .item .item__content {
  padding-left: 32px;
}
.container .scope .scope__quiz .scope__cards .item .item__content .item__title {
  font-size: 20px;
}
.container .scope .scope__quiz .scope__cards .item .item__content .item__subtitle {
  margin-top: 24px;
  max-width: 466px;
}
.container .scope .scope__quiz .scope__cards .item:not(:first-child) {
  margin-top: 16px;
}
.container .scope .scope__quiz .scope__container {
  margin-left: 140px;
}
.container .scope .scope__quiz .scope__container .scope__counter .counter__count {
  max-width: 281px;
}
.container .scope .scope__quiz .scope__container .scope__counter .counter__line {
  margin-top: 39px;
}
.container .benefits {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .benefits .benefits__container .benefits__fon {
  z-index: -1;
  position: absolute;
  margin-left: 200px;
}
.container .benefits .benefits__container .benefits__content {
  -webkit-clip-path: polygon(0 0, 420px 0, 769px 453.5px, 0 453.5px);
          clip-path: polygon(0 0, 420px 0, 769px 453.5px, 0 453.5px);
  max-width: 769px;
  min-height: 453.5px;
  background: rgb(11, 117, 114);
}
.container .benefits .benefits__container .benefits__content .benefits__title {
  padding-top: 160px;
  padding-left: 100px;
  max-width: 450px;
  font-size: 48px;
  color: white;
}
.container .benefits .benefits__column {
  -ms-grid-row-align: center;
      align-self: center;
  max-width: 998px;
  margin-top: 72.5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 447px) 176px minmax(auto, 447px);
  grid-template-columns: minmax(auto, 447px) minmax(auto, 447px);
  grid-column-gap: 176px;
  grid-row-gap: 64px;
}
.container .benefits .benefits__column .benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .benefits .benefits__column .benefits__block .benefits__text {
  margin-left: 40px;
}
.container .benefits .benefits__column .benefits__block .benefits__text .benefits__blocktitle {
  max-width: 327px;
  font-size: 20px;
}
.container .benefits .benefits__column .benefits__block .benefits__text .benefits__blocksubtitle {
  margin-top: 16px;
  max-width: 291px;
  font-size: 16px;
}
.container .job {
  margin-top: 122px;
}
.container .job .job__title {
  font-size: 48px;
}
.container .job .job__subtitle {
  margin-top: 32px;
  max-width: 667px;
  font-size: 16px;
}
.container .client {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0B7572;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 33px;
  padding-right: 67px;
}
.container .client .client__fon {
  position: absolute;
  z-index: 1;
}
.container .client .client__title {
  font-size: 48px;
  max-width: 477px;
  color: white;
}
.container .client .client__line {
  margin-top: 32px;
  background: #D7D7DD;
  color: #D7D7DD;
  height: 1px;
}
.container .client .client__table {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  padding: 26px 32px;
  background-color: white;
}
.container .client .client__table .client__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .client .client__table .client__header .client__logo {
  width: 103px;
  height: 56.486px;
}
.container .client .client__table .client__header .client__text {
  margin-left: 194px;
}
.container .client .client__table .client__header .client__text .client__subtitle {
  max-width: 274px;
  font-size: 11px;
}
.container .client .client__table .client__tbl {
  margin-top: 32px;
}
.container .client .client__table .client__tbl .table .tr__first .td__first {
  padding: 0 36px;
  color: white;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  line-height: 150%;
  background-color: #0B7572;
}
.container .supply {
  margin-top: 120px;
}
.container .supply .supply__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}
.container .supply .supply__container .supply__number {
  position: relative;
  left: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container .supply .supply__container .supply__content {
  padding: 32px 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
}
.container .supply .supply__container .supply__content .supply__text {
  margin-left: 56px;
}
.container .supply .supply__container .supply__content .supply__text .supply__title {
  font-size: 20px;
}
.container .supply .supply__container .supply__content .supply__text .supply__hr {
  margin-top: 24px;
  max-width: 86px;
  height: 3px;
  background: #FFCE50;
}
.container .supply .supply__container .supply__content .supply__text .supply__subtitle {
  margin-top: 24px;
  font-size: 16px;
  max-width: 568px;
}
.container .confidence {
  margin-top: 120px;
  font-size: 48px;
}
.container .confidence .confidence__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 146px 1fr 146px 1fr 146px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 146px;
  grid-row-gap: 80px;
  margin-top: 90px;
}
.container .confidence .confidence__table .confidence__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .confidence .confidence__table .confidence__block .confidence__blocktitle {
  margin-top: 32px;
  font-size: 20px;
}
.container .confidence .confidence__table .confidence__block .confidence__blocksubtitle {
  margin-top: 14px;
  font-size: 14px;
}
.container .employees {
  margin-top: 130px;
}
.container .employees .employees__container {
  margin-top: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 24px;
}
.container .employees .employees__container .employees__content {
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .employees .employees__container .employees__content .employees__fon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 51px;
  height: 100%;
  background-color: #0B7572;
}
.container .employees .employees__container .employees__content .employees__img {
  margin: 40px 0;
  margin-left: 32px;
  width: 138px;
  height: 138px;
}
.container .employees .employees__container .employees__content .employees__text {
  margin-left: 32px;
}
.container .employees .employees__container .employees__content .employees__text .employees__texttitle {
  font-size: 20px;
}
.container .employees .employees__container .employees__content .employees__text .employees__textsubtitle {
  margin-top: 12px;
  font-size: 14px;
}
.container .employees .employees__container .employees__content .employees__text .employees__hr {
  margin-top: 16px;
  background: #FFCE50;
  width: 86px;
  height: 3px;
}
.container .employees .employees__container .employees__content .employees__text .employees__icon {
  margin-top: 32px;
}
.container .employees .employees__container .employees__content .employees__text .employees__icon .employees__iconimg:not(:first-child) {
  margin-left: 20px;
}
.container .communication {
  margin-top: 130px;
  margin-bottom: 198px;
}
.container .communication .communication__title {
  font-size: 48px;
}
.container .communication .communication__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 94px;
}
.container .communication .communication__container .communication__info .communication__infoblock:not(:first-child) {
  margin-top: 44px;
}
.container .communication .communication__container .communication__info .communication__infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .communication .communication__container .communication__info .communication__infoblock .communication__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.container .communication .communication__container .communication__info .communication__infoblock .communication__infotext {
  margin-left: 32px;
}
.container .communication .communication__container .communication__info .communication__infoblock .communication__infotext .communication__infosubtitle {
  font-size: 14px;
}
.container .communication .communication__container .communication__info .communication__infoblock .communication__infotext .communication__infotitle {
  margin-top: 8px;
  font-size: 20px;
}
.container .communication .communication__container .communication__contact {
  border-radius: 5px;
  background: #F9F9FB;
  padding: 40px 48px;
}
.container .communication .communication__container .communication__contact .communication__contactblock:not(:first-child) {
  padding-top: 32px;
}
.container .communication .communication__container .communication__contact .communication__contactblock:not(:last-child) {
  border-bottom: 1px solid #E9EAF2;
}
.container .communication .communication__container .communication__contact .communication__contactblock {
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .communication .communication__container .communication__contact .communication__contactblock .communication__contactsub .communication__contactsubtitle {
  width: 175px;
  font-size: 16px;
}
.container .communication .communication__container .communication__contact .communication__contactblock .communication__contacttit .communication__contacttitle {
  margin-left: 56px;
  font-size: 16px;
}
.container .sendform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 148px;
}
.container .sendform .form__block {
  padding: 56px 64px;
  background-color: #0B7572;
}
.container .sendform .form__block .form__title {
  color: #FFF;
  font-size: 48px;
}
.container .sendform .form__block .form__area {
  margin-top: 72px;
}
.container .sendform .form__block .form__area .form__textarea {
  display: block;
  width: 579px;
  height: 223px;
  padding: 20px;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}
.container .sendform .form__block .form__area .input__wrapperfirst {
  margin-top: 60px;
}
.container .sendform .form__block .form__area .input__wrapper {
  padding: 19px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container .sendform .form__block .form__area .form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container .sendform .form__block .form__area .input__wrappertext {
  margin-left: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FFF;
  font-size: 16px;
  font-family: PT Sans;
  line-height: 125%;
}
.container .sendform .form__block .form__area .form__file {
  display: none;
}
.container .sendform .form__block .form__area .form__image {
  display: none;
}
.container .sendform .form__block .form__area .form__btn {
  margin-top: 66px;
  display: block;
  color: #0B7572;
  text-align: center;
  font-size: 16px;
  font-family: "Exo 2";
  font-weight: 600;
  line-height: 150%;
  padding: 10px 20px;
  border-radius: 4px;
}
.container .sendform .form__blockimage {
  width: 100%;
}
.container .sendform .form__blockimage .form__blockimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .video {
  margin-bottom: 120px;
}
.container .video .video__title {
  font-size: 48px;
}
.container .video .video__subtitle {
  margin-top: 32px;
  font-size: 16px;
}
.container .video .video__preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.container .video .video__preloader .video__icon {
  position: absolute;
}

.row__image {
  width: 92px;
  height: 92px;
}

.contacttitle {
  max-width: 443px;
}

.telephone {
  width: 23.303px;
  height: 32px;
}

.message {
  width: 28px;
  height: 17.756px;
}

.whatsapp {
  width: 28px;
  height: 28px;
}

.skype {
  width: 28px;
  height: 28px;
}

.td__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__image {
  margin-top: 24px;
}

.td__stock {
  color: #6B6B6C;
  font-size: 14px;
  font-family: PT Sans;
  line-height: 135%;
}

.first__column {
  margin-top: 24px;
  max-width: 112px;
}

.second__column {
  margin-top: 10px;
  max-width: 141px;
}

.second__column__name {
  max-width: 134px;
}

.third__column {
  margin-top: 12px;
  max-width: 114px;
}

.sale {
  margin-top: 10px;
  margin-bottom: 24px;
}

.number {
  margin-top: 10px;
}

.td__b {
  color: #363738;
  font-size: 14px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 135%;
}

.stars {
  margin-top: 12px;
}

.swiper-wrapper1 {
  min-width: 0;
}

.swiper-slide, .swiper-slide1 {
  border-radius: 10px;
  background: #FFF;
}

.swiper-title {
  margin-top: 24px;
  padding-left: 32px;
  max-width: 327px;
  font-size: 20px;
}

.swiper-subtitle {
  margin-top: 16px;
  padding-left: 32px;
  max-width: 291px;
  font-size: 16px;
}

.swiper-btn {
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-size: 16px;
  border-bottom: 3px solid #FFCE50;
  background-color: white;
}

.slider-1 {
  margin-top: 56px;
  margin-bottom: 212px;
}

.slider-2 {
  display: none;
}

.slide-2 {
  padding: 16px 24px;
}

.swiper__client-title {
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 2px;
  background: #0B7572;
}

.swiper__client-ttl {
  color: #FFF;
  font-size: 15px;
}

.swiper__client-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.swiper__client-sale-logo {
  width: 90px;
  height: 90px;
}

.swiper__client-sale-text {
  margin-left: 16px;
}

.swiper__client-sale-text-subtitle {
  max-width: 169px;
  color: #6B6B6C;
  font-size: 14px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.swiper__client-sale-text-bold {
  margin-top: 12px;
  color: #363738;
  font-size: 14px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.swiper__client-line {
  margin: 0 auto;
  width: calc(100% - 32px);
  margin-top: 16px;
  height: 1px;
  background: #D7D7DD;
}

.slider__client-subtitle {
  max-width: 263px;
  margin-top: 12px;
}

.swiper__client-sale-text-number {
  margin-top: 10px;
  margin-bottom: 32px;
  color: #363738;
  font-size: 14px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.swiper__client-sale,
.swiper__client-info {
  padding: 0 16px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  margin: 0 10px;
  list-style: none;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #0B7572;
  border-radius: 50%;
}

.swiper-wrapper .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #0B7572 !important;
}