@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans&display=swap')
*
	margin: 0
	padding: 0
	box-sizing: border-box
	border: 0
body
	background-color: white
.title
	color: #363738
	font-size: 52px
	font-family: 'Exo 2', sans-serif
	font-weight: 600
	line-height: 125%
.subtitle
	color: #6B6B6C
	font-size: 16px
	font-family: PT Sans
	line-height: 150%
.block
	margin: 0 auto
	max-width: 1240px
.line
	width: 100%
	height: 3px
	background: #FFCE50
.container
	overflow-x: hidden
	width: 100%
	height: 100%
	.header
		margin-top: 110px
		display: flex
		.header__blockfon
			z-index: -1
			position: absolute
			top: 0
			right: 0
			background-color: #0B7572
			width: 592px
			height: 787px
		.header__text
			.header__title
				margin-top: 81px
				max-width: 610px
			.header__subtitle
				margin-top: 40px
				max-width: 525px
			.header__link
				margin-top: 40px
				background-color: white
				border-bottom: 3px solid #FFCE50
				font-size: 16px
				font-family: PT Sans
				font-weight: 700
				line-height: 150%
		.header__blockimage
			.header__image
	.row
		margin-top: 67px
		padding: 40px 80px
		display: flex 
		justify-content: space-evenly
		border-radius: 20px
		background: #FFF
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15)
		.row__column

			.row__title
				margin-top: 24px
				font-size: 20px
				max-width: 228px
			.row__subtitle
				margin-top: 16px
				max-width: 225px
		.row__column:nth-child(2)
			padding: 0px 124px 0px 64px
			border-left: 1px solid #D7D7DD
			border-right: 1px solid #D7D7DD
	.scope
		margin-top: 100px
		.scope__title
			font-size: 48px
		.scope__subtitle
			margin-top: 32px
			max-width: 667px
		.scope__quiz
			margin-top: 40px
			display: flex
			.scope__cards
				display: flex
				flex-direction: column
				.item
					display: flex
					padding: 48px 40px
					border-radius: 10px
					background: #FFF
					box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.12)
					.item__radiobutton
						margin-top: 8px
						align-self: flex-start
					.item__content
						padding-left: 32px
						.item__title
							font-size: 20px
						.item__subtitle
							margin-top: 24px
							max-width: 466px
				.item:not(:first-child)
					margin-top: 16px
			.scope__container
				margin-left: 140px
				.scope__counter

					.counter__text

					.counter__count
						max-width: 281px
					.counter__line
						margin-top: 39px
	.benefits
		margin-top: 100px
		display: flex
		flex-direction: column
		.benefits__container
			// display: flex
			.benefits__fon
				z-index: -1
				position: absolute
				margin-left: 200px
				// left: 540px
			.benefits__content
				clip-path: polygon(0 0, 420px 0, 769px 453.5px, 0 453.5px)
				max-width: 769px
				min-height: 453.5px
				background-color: #0B7572
				.benefits__title
					padding-top: 160px
					padding-left: 100px
					max-width: 450px
					font-size: 48px
					color: white
		.benefits__column
			align-self: center
			max-width: 998px
			margin-top: 72.5px
			display: grid
			grid-template-columns: minmax(auto, 447px) minmax(auto, 447px)
			grid-column-gap: 176px
			grid-row-gap: 64px
			.benefits__block
				display: flex
				.benefits__text
					margin-left: 40px
					.benefits__blocktitle
						max-width: 327px
						font-size: 20px
					.benefits__blocksubtitle
						margin-top: 16px
						max-width: 291px
						font-size: 16px
	.job
		margin-top: 122px
		.job__title
			font-size: 48px
		.job__subtitle
			margin-top: 32px
			max-width: 667px
			font-size: 16px
	.client
		display: flex
		background: #0B7572
		padding-top: 85px
		padding-bottom: 85px
		padding-left: 33px
		padding-right: 67px
		.client__fon
			position: absolute
			z-index: 1
		.client__title
			font-size: 48px
			max-width: 477px
			color: white
		.client__line
			margin-top: 32px
			background: #D7D7DD
			color: #D7D7DD
			height: 1px
		.client__table 
			position: relative
			z-index: 2
			border-radius: 8px
			padding: 26px 32px
			background-color: white
			.client__header
				display: flex
				.client__logo
					width: 103px
					height: 56.486px
				.client__text
					margin-left: 194px
					.client__subtitle
						max-width: 274px
						font-size: 11px
			.client__tbl
				margin-top: 32px
				.table
					.tr__first
						.td__first
							padding: 0 36px
							color: white
							font-size: 16px
							font-family: 'Exo 2', sans-serif
							font-weight: 600
							line-height: 150%
							background-color: #0B7572
	.supply
		margin-top: 120px
		.supply__header
		.supply__container
			display: flex
			margin-top: 48px
			.supply__number
				position: relative
				left: 30px
				align-self: center
				.supply__icon
			.supply__content
				padding: 32px 96px
				display: flex
				border-radius: 10px
				background: #FFF
				box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12)
				.supply__image
				.supply__text
					margin-left: 56px
					.supply__title
						font-size: 20px
					.supply__hr
						margin-top: 24px
						max-width: 86px
						height: 3px
						background: #FFCE50
					.supply__subtitle
						margin-top: 24px
						font-size: 16px
						max-width: 568px
	.confidence
		margin-top: 120px
		font-size: 48px
		.confidence__title
		.confidence__table
			display: grid
			grid-template-columns: repeat(4, minmax(auto, 184px))
			grid-column-gap: 146px
			grid-row-gap: 80px
			margin-top: 90px
			.confidence__block
				display: flex
				flex-direction: column
				align-items: center
				.confidence__blocktitle
					justify-self: flex-end
					margin-top: 32px
					font-size: 20px
				.confidence__blocksubtitle
					justify-self: flex-end
					margin-top: 14px
					font-size: 14px
	.employees
		margin-top: 130px
		.employees__title
		.employees__container
			margin-top: 72px
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-column-gap: 30px
			grid-row-gap: 24px
			.employees__content
				border-radius: 10px
				background: #FFF
				box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
				display: flex
				align-items: center
				.employees__fon
					border-top-left-radius: 10px
					border-bottom-left-radius: 10px
					border-top-right-radius: 2px
					border-bottom-right-radius: 2px
					width: 51px
					height: 100%
					background-color: #0B7572
				.employees__img
					margin: 40px 0 
					margin-left: 32px
					width: 138px
					height: 138px 
				.employees__text
					margin-left: 32px
					.employees__texttitle
						font-size: 20px
					.employees__textsubtitle
						margin-top: 12px
						font-size: 14px
					.employees__hr
						margin-top: 16px
						background: #FFCE50
						width: 86px
						height: 3px
					.employees__icon
						margin-top: 32px
						.employees__iconimg:not(:first-child)
							margin-left: 20px
	.communication
		margin-top: 130px
		margin-bottom: 198px
		.communication__title
			font-size: 48px
		.communication__container
			display: flex
			justify-content: space-between
			margin-top: 94px
			.communication__info
				.communication__infoblock:not(:first-child)
					margin-top: 44px
				.communication__infoblock
					display: flex
					.communication__icon
						align-self: center
					.communication__infotext
						margin-left: 32px
						.communication__infosubtitle
							font-size: 14px
						.communication__infotitle
							margin-top: 8px
							font-size: 20px
			.communication__contact
				border-radius: 5px
				background: #F9F9FB
				padding: 40px 48px
				.communication__contactblock:not(:first-child)
					padding-top: 32px
				.communication__contactblock:not(:last-child)
					border-bottom: 1px solid #E9EAF2
				.communication__contactblock
					padding-bottom: 16px 
					display: flex
					.communication__contactsub
						.communication__contactsubtitle
							width: 175px
							font-size: 16px
					.communication__contacttit
						.communication__contacttitle
							margin-left: 56px
							font-size: 16px
	.video
		margin-bottom: 120px
		.video__title
			font-size: 48px
		.video__subtitle
			margin-top: 32px
			font-size: 16px
		.video__preloader
			display: flex
			align-items: center
			justify-content: center
			margin-top: 40px
			.video__image
			.video__icon
				position: absolute
.contacttitle
	max-width: 443px
.telephone
	width: 23.303px
	height: 32px
.message
	width: 28px
	height: 17.756px
.whatsapp
	width: 28px
	height: 28px
.skype
	width: 28px
	height: 28px

.tr__rest
.td__image
	display: flex
	justify-content: center
.table__image
	margin-top: 24px
.td__name
.td__stock
	color: #6B6B6C
	font-size: 14px
	font-family: PT Sans
	line-height: 135%
.first__column
	margin-top: 24px
	max-width: 112px
.second__column
	margin-top: 10px
	max-width: 141px
.second__column__name
	max-width: 134px
.third__column
	margin-top: 12px
	max-width: 114px
.sale
	margin-top: 10px
	margin-bottom: 24px
.number
	margin-top: 10px
.td__b
	color: #363738
	font-size: 14px
	font-family: PT Sans
	font-weight: 700
	line-height: 135%
.manufacturer
.td__b
.td__stock
.stars
	margin-top: 12px
.stars__image
.contact
.td__b
.td__stock
.td__stock

.swiper-container
	overflow: hidden
	margin-top: 56px
	margin-bottom: 212px
.swiper-slide
	max-width: 393px
	border-radius: 10px
	background: #FFF
	// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12)
.swiper-title
	margin-top: 24px
	padding-left: 32px
	max-width: 327px
	font-size: 20px
.swiper-subtitle
	margin-top: 16px
	padding-left: 32px
	max-width: 291px
	font-size: 16px
.swiper-btn
	margin-top: 32px
	margin-left: 32px
	margin-bottom: 32px
	font-size: 16px
	border-bottom: 3px solid #FFCE50
	background-color: white

